.container{
  padding: 0 50px;
  
}
#header{
  margin: 0;
  padding: 1rem;
  background-color: rgba(14, 13, 13, 0.85);
  color: white;
  text-align: center;
}
#button{
  border: 1px solid black;
}
#li{
  list-style: none;
  padding: 1rem;
  border: 1px solid black;
}
#search{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  border: 1px solid black;
}
button{
  margin: 1rem;
  background-color: cornflowerblue;
  color: white;
  width: 9rem;
}

#city{
  font-size: 3rem;
  margin-bottom: 2rem
}
#searchCity{
  background-color: coral;
  color: white;
}

.listItem{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

#searchText{
  display: block;
  max-width: auto;
}
#displayMain{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  height: auto;
  padding-right: auto;
}

.col-sm-2{
  border: 1px solid black;
  height: auto;
  width: auto;
  margin: .5rem;
}

#fiveDayBox{
  border: 1px solid black;
  margin: auto;
}
