
body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1529923123842-3310dfdc0b10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  padding: 0 50px;
  
}
#header{
  margin: 0;
  padding: 1rem;
  /* background-color: rgb(63, 111, 199); */
  color: black;
  text-align: center;
}
#button{
  border: 1px solid black;
}
#li{
  list-style: none;
  padding: 1rem;
  border: 1px solid black;
}


#city{
  margin-left: 1rem;
  font-size: 3rem;
  margin-bottom: 2rem
}


.listItem{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

#searchText{
  display: block;
  max-width: auto;
}
#displayMain{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  height: auto;
  padding-right: auto;
}



#fiveDayBox{
  border: 1px solid white;
  margin: auto;
  padding: 1rem;
  background-color: rgb(63, 111, 199);
  color: white;
  
}

#fiveDays{
  font-size: 12px;
}

